
{% extends 'studentapp/base.html' %}

{% block title %}
	Student List
{% endblock %}

{% block body %}
	{% if student_list %}
		<table class="table table-dark table-striped table-hover">
           <thead>
              <tr>
                  <th>ID</th>
                  <th>Sname</th>
                  <th>Marks</th>
                  <th>City</th>
                  <th>Mobile</th>
                  <th>Actions</th>
              </tr>
           </thead>
           <tbody>
              {% for student in student_list %}
              	<tr>
                    <td><a href="{% url 'student_detail' student.id %}">{{ student.id }}</a></td>
                   <td>{{ student.sname }}</td>
                   <td>{{ student.marks }}</td>
                   <td>{{ student.city }}</td>
                   <td>{{ student.mobile }}</td>
                   <td>
                       <a href="{% url 'student_update' student.id %}" 
                          class="btn btn-success btn-sm">update</a>
                       
                       <a href="{% url 'student_delete' student.id %}" 
                          class="btn btn-danger btn-sm">delete</a>
                   </td>
                </tr>
              {% endfor %}
              
           </tbody>
        </table>
    {% else %}
        <h1>Students data not available</h1>
	{% endif %} 
    
    <h1 class="text-center">
       <a href="{% url 'student_create' %}" 
          class="btn btn-primary btn-lg">Create New Student</a>
    </h1>
{% endblock %}











